# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  configure_infrastructure:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["60:b2:15:be:89:72:b2:51:96:8c:f2:6d:73:36:68:cb"]
      - run:
          name: Install dependencies
          command: |
            apk add --update ansible
      - run:
          name: Configure server
          command: | 
            ansible-playbook -i inventory.txt playbook.yml

workflows:
  my_workflow:
    jobs:
     - configure_infrastructure
